/* Container da grade de produtos */
.searchResultContainer {
    background-color: #000;
    padding-top: 130px;
    margin-top: -105px;
}

.searchResultContainer .container {
    background-color: #fff;
    padding: 2rem;
}
