.triggerContainer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: transparent;
}

.triggerContainer :global(.vtex-rich-text-0-x-paragraph) {
    font-weight: 700;
}

/*Home - Modal*/
.triggerContainer--modal-trigger {
    background-color: transparent;
    cursor: pointer;
    z-index: 3;
}

/*Home - Modal - Header*/
.headerContainer--leads-header {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeIcon--leads-header {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.contentContainer--leads-content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    flex-wrap: wrap;
    text-align: center;
}

.contentContainer--leads-content :global(.vtex-form-input-name),
.contentContainer--leads-content :global(.vtex-form-input-email),
.contentContainer--leads-content :global(.vtex-form-input-tel) {
    margin: 0 0 15px 0;
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
}

.contentContainer--leads-content :global(.vtex-form-button) {
    width: 100%;
    background-color: black;
    border: none;
    height: 50px;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: white;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
    transition: background-color linear 0.2s;
}

.contentContainer--leads-content :global(.vtex-form-button):hover {
    background-color: rgba(0, 0, 0, 0.75);
    cursor: pointer;
}
