.wrapper {
    background: transparent;
}

.wrapper--contact{
    padding-right: 40px;
}

.wrapper--title{
    background-color: transparent;
    max-width: 25rem;
    margin-left: 5%;
    font-size: 8vw;
    color: #fff;
    font-family: url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);
    text-transform: lowercase;
    line-height: .8;
}

.wrapper--subtitle{
    background-color: transparent;
    max-width: 25rem;
    margin-left: 5%;
    font-size: 2vw;
}

.link{
    font-size: 1.1rem;
    font-family: url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);
    color: white;
    text-decoration: none;
    padding-right: 50px;
}

.paragraph--footer-text {
    color: white;
    margin: 0.5rem 0;
}

/* Institucional */
.paragraph--corebiz-titulo-institucional {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    font-weight: 600;
    margin: 0 0 3rem -2px;
    padding-top: 13rem;
}
.paragraph--corebiz-descricao-institucional {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: -42px 0 0 35px;
}