.triggerContainer {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: transparent;
}

.triggerContainer :global(.vtex-rich-text-0-x-paragraph) {
    font-weight: 700;
}

/*Home - Modal*/
.triggerContainer--modal-trigger {
    background-color: transparent;
    cursor: pointer;
    z-index: 3;
}

/*Home - Modal - Header*/
.headerContainer--leads-header {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.closeIcon--leads-header {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    position: absolute;
    top: 5px;
    right: 5px;
}
.contentContainer--leads-content {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    flex-wrap: wrap;
    text-align: center;
}

.contentContainer--leads-content :global(.vtex-form-input-name),
.contentContainer--leads-content :global(.vtex-form-input-email),
.contentContainer--leads-content :global(.vtex-form-input-tel) {
    margin: 0 0 20px 0;
    width: 300px;
    height: 25px;
}
.contentContainer--leads-content :global(.vtex-form-button) {
    background-color: black;
    border-radius: 15px;
    border: none;
    height: 30px;
    color: white;
    width: 250px;
    font-family: 'Montserrat', sans-serif;
}
