@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

.wrapper {
    background: transparent;
}

.wrapper--contact {
    padding-right: 40px;
}

/* Navbar */
.link {
    font-size: 1.1rem;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-decoration: none;
    padding-right: 50px;
    transition: color linear 0.2s;
}
.link:hover {
    color: rgba(255,255,255,0.3);
}

/* Home - Seção 1 - Título */
.wrapper--title {
    background-color: transparent;
    max-width: 25rem;
    margin-left: 5%;
    font-size: 8vw;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    line-height: 0.8;
}

.paragraph--title {
    font-size: 85%;
    line-height: 0.8;
}

/* Home - Seção 1 - Subtítulo */
.wrapper--subtitle {
    background-color: transparent;
    max-width: 25rem;
    margin-left: 5%;
    font-size: 2vw;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-weight: 500;
}

.paragraph--subtitle {
    line-height: 1.2;
    margin: 0;
}

/* Home - Seção 1 - Estatísticas de empresas, colaboradores e clientes */
.wrapper--stats {
    background-color: transparent;
}

.paragraph--stats {
    font-weight: 400;
    font-family: 'Manrope', sans-serif;
    color: #f1c233;
    margin: 0;
    font-size: 1.3rem;
}

.wrapper--stats-description {
    background-color: transparent;
}

.paragraph--stats-description {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    color: #ccc;
    font-size: 0.8rem;
    letter-spacing: 0.02rem;
}

/* Home - Seção 1 - Modal*/
.wrapper--modal-access-leads {
    width: 100%;
    max-width: 320px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    background-color: rgba(0, 0, 0, 0.85);
    font-family: 'Manrope', sans-serif;
    font-size: 15px;
    color: #f1c233;
    border: 1px solid #f1c233;
    
}

.wrapper--leads-header-title {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #000;
}

/* Home - Seção 2 */
.wrapper--section-two-title {
    font-family: 'Manrope', sans-serif;
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    padding: 5rem 1rem 0;
}

.wrapper--section-two-title .paragraph {
    line-height: 1.2;
}

/* Home - Seção 4 */
.wrapper--section-four-title {
    background-color: transparent;
    font-family: 'Manrope', sans-serif;
    font-size: 3rem;
    color: #fff;
    font-weight: 700;
    padding: 0;
    margin-left: -8rem;
}

.wrapper--section-four-title .paragraph {
    margin: 0;
}

.wrapper--section-four-subtitle {
    background-color: transparent;
    font-family: 'Manrope', sans-serif;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1px;
    max-width: 26rem;
    padding: 2rem 0;
    text-shadow: 0 0 4px #111;
}

.wrapper--quote-date {
    background-color: transparent;
    font-family: 'Manrope', sans-serif;
    font-size: 0.85rem;
    font-weight: 600;
    color: #fff;
    margin: 12rem 0 0 2rem;
}

/* Home - Seção 5 */
.wrapper--section-five-title {
    background-color: transparent;
    font-family: 'Manrope', sans-serif;
    font-size: 3rem;
    color: #000;
    font-weight: 700;
    padding: 0 0 2rem;
    width: 100vw;
}

.wrapper--section-five-title .paragraph {
    margin-bottom: 0;
}

.wrapper--section-five-subtitle {
    background-color: transparent;
    font-family: 'Manrope', sans-serif;
    color: #000;
    font-weight: 600;
    max-width: 370px;
}

.paragraph--section-five-subtitle {
    margin: 0;
}

.wrapper--main-news {
    background-color: transparent;
}

.paragraph--main-news {
    line-height: 1;
    margin-top: 0;
}

.link--main-news {
    font-family: 'Manrope', sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    text-decoration-line: underline;
    text-underline-offset: 2px;
    color: #000;
}

.wrapper--news-category {
    background-color: transparent;
}

.paragraph--news-category {
    margin: 0;
    line-height: 1;
}

.link--news-category {
    color: #f1c233;
    font-family: 'Manrope', sans-serif;
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 1;
}

.container--news-date-row {
    justify-content: flex-end;
}

.wrapper--news-date-row,
.wrapper--news-date-col {
    background-color: transparent;
    margin: 0;
    color: #aaa;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
}

.paragraph--news-date-row,
.paragraph--news-date-col {
    margin: 0;
}

.wrapper--news-headline-left,
.wrapper--news-headline-right {
    background-color: transparent;
    font-weight: 800;
}

.link--news-headline-left {
    font-family: 'Manrope', sans-serif;
    font-size: 1.5rem;
    color: #000;
    transition: all 0.3s ease;
}

.link--news-headline-right {
    font-family: 'Manrope', sans-serif;
    font-size: 1.2rem;
    color: #000;
    transition: all 0.3s ease;
}

.link--news-headline-left:hover,
.link--news-headline-right:hover {
    opacity: 0.6;
}

.paragraph--news-headline-right {
    margin: 0;
}

.wrapper--news-text {
    background-color: transparent;
    color: #000;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 0.85rem;
}

/* Footer */
.paragraph--footer-text {
    font-family: 'Manrope', sans-serif;
    color: white;
    margin: 0.5rem 0;
}

.paragraph--footer-address {
    font-family: 'Manrope', sans-serif;
    font-size: 0.8rem;
    color: white;
    margin: 0.5rem 0;
}

/* Página Services */
.wrapper--services-title-1 {
    max-width: 25rem;
    margin-left: 15%;
    font-size: 3vw;
    background-color: #fff !important;
    color: #000;
    font-family: url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);
    text-transform: lowercase;
    line-height: 0.8;
}

.container--services-title-1 {
    background-color: #fff;
}

.wrapper--services-body-1 {
    max-width: 25rem;
    margin-left: 15%;
    font-size: 2vw;
    background-color: #fff !important;
    color: #666666;
    font-family: url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);
    line-height: 0.8;
}

.container--services-body-1 {
    background-color: #fff;
}

.container--services-footer-1 {
    background-color: #fff;
}

.wrapper--services-footer-1 {
    max-width: 25rem;
    margin-left: 15%;
    margin-top: 15%;
    font-size: 1.3vw;
    background-color: #fff !important;
    color: #000;
    font-family: url(//db.onlinewebfonts.com/c/860c3ec7bbc5da3e97233ccecafe512e?family=Circular+Std+Book);
    line-height: 0.8;
}

/* Institucional */
.paragraph--corebiz-titulo-institucional {
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-size: 5rem;
    font-weight: 800;
    margin: 0 0 3rem -2px;
    padding-top: 13rem;
}

.paragraph--corebiz-descricao-institucional {
    color: #fff;
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: -42px 0 0 35px;
}

.paragraph--vision-values-title {
    color: #f1c233;
    font-family: 'Manrope', sans-serif;
    font-size: 3rem;
    font-weight: 800;
    margin: 0;
}

.wrapper--vision-text,
.wrapper--values-text {
    font-family: 'Manrope', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
}

.wrapper--vision-text {
    color: #fff;
    max-width: 600px;
}

.wrapper--values-text {
    color: #000;
}

.paragraph--vision-text {
    margin: 4rem 0 0 4.5rem;
    line-height: 1.2;
}

.paragraph--values-text {
    line-height: 1.2;
}
