.sliderLayoutContainer--section-three {
    overflow-x: hidden;
}

.slideChildrenContainer--section-three {
    height: 100vh;
}

/* Home - Seção 3 - Setas de movimentação dos slides */
.sliderArrows--section-three {
    background: #fff !important;
    border-radius: 50%;
    transform: scale(0.5);
}

.sliderLeftArrow--section-three {
    padding: 2rem;
    left: -2rem;
}

.sliderRightArrow--section-three {
    padding: 5rem;
    right: -3.8rem;
}
