.flexCol {
    background: rgba(0, 0, 0, 1);
}

.flexCol--section-one {
    background-color: transparent;
}

/* Home - Seção 1 - Estatísticas de empresas, colaboradores e clientes */
.flexRow--stats-container {
    padding-top: 1rem;
    margin-left: 5%;
}

.flexCol--stats {
    background-color: transparent;
}

/* Home - Seção 2 */
.flexRow--section-two {
    background-color: #000;
}

.flexRowContent--partners-container {
    margin-left: -5px;
    padding-bottom: 4rem;
    flex-wrap: wrap;
    column-gap: 2rem;
    row-gap: 3.3rem;
    justify-content: center;
}

/* Home - Seção 4 */
.flexRow--section-four-flexrow {
    width: 100%;
}

.flexCol--section-four-container {
    background-color: transparent;
    width: auto !important;
    margin-left: 10vw;
}

/* Footer */
.flexRow--footer {
    background-color: #000000;
}

.flexRowContent--footer-image-container {
    display: flex;
    flex-direction: row;
}

/* Footer - Layout Mobile */
@media (max-width: 630px) {
    .flexRowContent--footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .flexRow--footer .stretchChildrenWidth {
        min-width: 113px;
        width: max-content !important;
        display: flex;
        justify-content: left;
    }

    .flexCol--footer-logo,
    .flexCol--social-container {
        padding-left: 0;
    }
}
